<div>
  検索フォーム
</div>
<div>
  <%= form_with url: books_path, local: true, method: :get do |f| %>
    <div>
      <label for="gender">Gender</label><br>
      <%= f.select :gender, options_for_select(User.genders.keys.map { |k| [k, k] }, user.gender), include_blank: true %>
    </div>
    <div>
      <label for="age">Age</label><br>
      <%= f.select :age, options_for_select((10..100).step(10), user.age), include_blank: true %> 歳代
    </div>
    <div class="mt-3"> 
      <%= f.submit "検索" %>
    </div>
  <% end %>
</div>